* {
  box-sizing: border-box; 
}

body {
  margin: 0; 
  font-family: sans-serif; 
  background: #f5f6f7; 
}
section {
  position: relative;
  margin-right: 50px; 
}

.header {
  text-align: center; 
  padding: 0.5rem;
  top: 0;
  left: 0;
  width:100%; 
  background-color: #0a0a23; 
  color: #fff; 
  border-bottom: 4px solid #fdb347; 
  font-size: 2.4rem; 
}


.main {
  margin-top: 140px; 
  margin-left: 140px;
  margin-right: 140px;
  margin-bottom: 320px;
}

.message {
  text-align: center;
  font-size: 2.4rem;
}

.button_se {
  text-align: center; 
  font-size: 2.4rem; 
  border: none; 
  margin: 50px;
  border-radius: 8px;
  cursor: pointer; 
  transition: background-color 0.3s, color 0.3s; 
  display: flex;
}

.button_start,
.button_begin {
  margin: auto; 
  font-size: 1.6rem; 
  padding: 12px 24px; 
}

/* 设置鼠标悬停时的样式 */
#start:hover,
#end:hover {
  background-color: rgba(128, 128, 128, 0.5); /* 悬停时的背景色 */
  padding: 12px 24px; /* 内边距调整 */
}
.section-container {
  display: flex; /* 使用 Flexbox 布局 */
}
#left_se {
  width: 70%; /* 左侧区域宽度 */
}

#right_se {
  width: 30%; /* 右侧区域宽度 */
  background-color: #e4ebef;
  
}
.section-container::after {
  content: "";
  position: absolute;
  top: 0;
  bottom: 0;
  left: 70%; /* 与 #left_se 右侧对齐 */
  width: 2px;
  background-color: #ccc; /* 分割线颜色 */
  z-index: 1; /* 确保在内容之上 */
}

.alert {
  position: absolute; 
  top: 300px; 
  right:940px;
  color: red; /* 红色 */
  font-size: 320px; /* 更大的字体尺寸 */
  z-index: 9; /* 确保在顶层 */
  animation: blink 1s infinite alternate; /* 添加闪烁动画 */
}

@keyframes blink {
  from {
    opacity: 1; /* 完全可见 */
  }
  to {
    opacity: 0; /* 完全隐藏 */
  }
}

/* 当屏幕宽度小于等于 1200px 时 */
@media (max-width: 75em) {
  html {
    font-size: 60%; /* 调整字体大小为原来的 60% */
  }
}

/* 当屏幕宽度小于等于 980px 时 */
@media (max-width: 61.25em) {
  html {
    font-size: 58%; /* 调整字体大小为原来的 58% */
  }
}

/* 当屏幕宽度小于等于 460px 时 */
@media (max-width: 28.75em) {
  html {
    font-size: 55%; /* 调整字体大小为原来的 55% */
  }
}
